2)

In [ ]:
SELECT ord_no, purch_amt, ord_date, salesman_id 
FROM orders 
WHERE salesman_id IN(SELECT salesman_id FROM salesman WHERE commision = (SELECT MAX(commision) FROM salesman));

In [ ]:
3)

In [ ]:
SELECT ord_no, purch_amt, ord_date, salesman_id  FROM orders WHERE salesman_id IN (SELECT salesman_id FROM salesman WHERE city = 'Nagpur');

In [ ]:
6)

In [ ]:
SELECT purch_amt FROM Orders BY purch_amt DESC LIMIT N-1, 1

In [ ]:
7)

In [ ]:
ENTITIES-customer_name,customer_id,Account_Number,Account_status,Account_type,Balance_amount,Transaction_amount,Transcation_channel,Transaction_Date,purch_amt

In [ ]:
8)

In [ ]:
Select Customer_id , Account_Number,
Case when ifnull(Balance_amount,0) = 0 then Transaction_amount else Balance_amount end  as Balance_amount
from Bank_Account_Details   
inner join
BANK_ACCOUNT_TRANSACTION
on Account_Number = Account_Number
and Account_type = "Credit Card";

In [ ]:
9)

In [ ]:
Select
Account_Number, Balance_amount, Transaction_amount, Transaction_Date
from Bank_Account_Details 
inner join
BANK_ACCOUNT_TRANSACTION
on Account_Number = Account_Number
And ( Transaction_Date between "2020-03-01" and "2020-04-30");

In [ ]:
10)

In [ ]:
Select
Customer_id,Account_Number, Balance_amount, Transaction_amount, Transaction_Date
from Bank_Account_Details 
Left join BANK_ACCOUNT_TRANSACTION
on Account_Number = Account_Number
And NOT ( date_format(Transaction_Date , '%Y-%m') = "2020-03" );